input[type=text] {
	
	border: 1px solid;
}
input {
	margin-top:3px;
	margin-bottom:3px;
	display:inline-block;
	padding: 5px 5px;
	

}
#main{
	margin: 0 auto;
	width: 30%;	
	padding-left:10px;
	display: table;
    text-align: right;
}
form{
	border: 2px solid black;
	padding:10px;
	
}
#ansp{
	color:red;
}
