input {
	margin-top:3px;
	margin-bottom:3px;
	display:inline-block;
	padding: 5px 5px;
	

}
#main>* {
    margin: auto;
}
#main{
	margin: auto;
	padding-left:10px;
	display: table;
    text-align: right;
}