#main{
margin: 20px auto;
width:1600px;
height:1000px;
text-align:center;
font-size:20px;
}
#top{
width:1600px;
height:500px;
}
#bottom{
width:1600px;
height:500px;
}
#row11{
width:500px;
height:500px;
float:left;
}
#row12{
width:500px;
height:500px;
float:left;
}
#row13{
width:500px;
height:500px;
float:left;
}
#row21{
width:500px;
height:500px;
float:left;
}
#row22{
width:500px;
height:500px;
float:left;
}
#row23{
width:500px;
height:500px;
float:left;
}