#main{
margin: auto;
padding: auto;
height: 98%;
width: 60%;
text-align:center;
font-size:20px;
}

p{
    margin: auto;
    padding: auto ;
}

.row{
height: 45%;
width: 33%;
float:left;
}

.pic{
width: 90%;
height: 70%;
}
